.link-link-1 {
    background: rgb(29, 55, 122);
    background: linear-gradient(
      90deg,
      rgba(29, 55, 122, 1) 0%,
      rgba(18, 44, 52, 1) 67%
      /* rgba(123, 193, 207, 1) 100% */
    );
}

.link-link-2 {
  background: rgb(29, 55, 122);
  background: linear-gradient(
    90deg,
    rgba(168, 193, 255, 1) 0%,
    rgba(63, 43, 150, 1) 67%
    /* rgba(123, 193, 207, 1) 100% */
  );
}

.link-link-3 {
  background: rgb(29, 55, 122);
  background: linear-gradient(
    90deg,
    rgba(69, 162, 71, 1) 0%,
    rgba(40, 60, 134, 1) 67%
    /* rgba(123, 193, 207, 1) 100% */
  );
}

.link-user-ninja {
  background: rgb(64, 64, 122);
  /* background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  ); */
}
